<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julia.android.worderly">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WorderlyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.signin.SignInActivity" />
        <activity android:name=".ui.search.view.SearchOpponentActivity" />
        <activity android:name=".ui.game.view.GameActivity"
            android:windowSoftInputMode="stateHidden"/>

        <!-- Register the GameContentProvider -->
        <!-- Set name, authorities, and exported attributes -->
        <!-- exported = false limits access to this ContentProvider to only this app -->
        <provider
            android:name=".data.database.WordContentProvider"
            android:authorities="com.julia.android.worderly"
            android:exported="false"/>


        <!-- We'll need to add two entries to our manifest for our collection view widget -->

        <!-- 1. The broadcast receiver that refers to our widget. This needs the
                intent-filter android.appwidget.action.APPWIDGET_UPDATE and the
                meta-data for our XML widget configuration -->
        <receiver android:name=".widget.CollectionWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.julia.android.worderly.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/collection_widget_info" />
        </receiver>

        <!-- 2. The service that will send our collection data to our widget. It needs the
                permission android.permission.BIND_REMOTEVIEWS -->
        <service android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>